<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net46" />
  <package id="StyleCop.MSBuild" version="4.7.49.1" targetFramework="net46" developmentDependency="true" />
  <package id="xunit" version="2.0.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net46" />
  <package id="xunit.core" version="2.0.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net46" />
</packages>